<table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">employeeName</th>
        <th scope="col">email</th>
        <th scope="col">salary</th>
        <th scope="col">position</th>
        <th scope="col">company</th>
        <th scope="col">Upadte</th>
        <th scope="col">Delete</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employee">
       
        <td>{{employee.id}}</td>
        <td>{{employee.employeeName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.company}}</td>
        <td> 
          <button [routerLink]="['/edit', employee.id]">Edit</button>
        </td>
        <td> 
          <button (click)="delete(employee.id)">Delete</button>
        </td>
        
      </tr>
      
    </tbody>
  </table>
  <router-outlet></router-outlet>
